#cabecalho{
    background-image: linear-gradient(to bottom, rgb(194, 185, 185), rgb(128, 128, 180));
    position: fixed;
    z-index: 9999;
    left: 0%;
    right: 0%;
    top: 0;
}

#cabecalho img{
    width: 60px;
    margin: 10px;
    margin-left: 40px;
}

#cabecalho nav{
    font-size: 13px;
    list-style: none;
    float: right;
    margin-top: 15px;
    margin-right: 80px;
}

#cabecalho .menu{
    border-radius: 10px;
}

#cabecalho .menu li{
    list-style-type: none;
    position: relative;
    float: right;
    background-color: blueviolet;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
}

#cabecalho .menu li a{
    color: white;
    text-decoration: none; 
    padding: 5px 10px; 
    display: block;
}

#cabecalho .menu li a:hover{
    border: 1px blueviolet;
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 4px black;
    transition: transform, 0.2s;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

#inicio{
    background-image: url(../imagens/image-home-page.jpg);
    background-position: center;
    height: 500px;
    margin-left: -8px;
    margin-right: -8px;
    color: transparent;
}

#inicio:hover{
    opacity: 0.8;
    transition: 0.5s;
    color: black;
}

#inicio p{
    width: 250px;
    float: right;
    margin-top: 150px;
    margin-right: 100px;
}

#sobre{
    background-image: url(../imagens/image-sobre.jpg);
    background-position: center;
    height: 500px;
    margin-left: -8px;
    margin-right: -8px;
}

#sobre:hover{
    transform: scale(1.01);
    transition: 0.2s;
}

#sobre p{
    width: 250px;
    float: left;
    color: white;
    margin-top: 150px;
    margin-left: 100px;
}

#servicos{
    margin: 0;
    padding: 0;
    background-position: center;
    height: 500px;
    margin-left: -8px;
    margin-right: -8px;
}

#servicos .menuservicos{
    display: block;
    height: 500px;
    width: 100%;
    margin: auto;
    position: relative;
}

#servicos .menuservicos li{
    list-style: none;
    position: absolute;
}

#servicos .menuservicos img{
    height: 500px;
    width: 100%;
    position: center;
    margin-left: -40px;
}

#servicos .menuservicos p{
    width: 250px;
    float: right;
    color: white;
    margin: 100px;
}

#servicos .menuservicos input{
    display: none;
}

#servicos .menuservicos label{
    background-color:white;
    bottom: 100px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

#servicos .menuservicos li:nth-child(1) label{
    left: 10px;
}

#servicos .menuservicos li:nth-child(2) label{
    left: 40px;
}

#servicos .menuservicos li:nth-child(3) label{
    left: 70px;
}

#servicos .menuservicos li:nth-child(4) label{
    left: 100px;
}

#servicos .menuservicos img{
    opacity: 0;
    visibility: hidden;
}

#servicos .menuservicos li input:checked ~ img{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

#contato{
    background-image: linear-gradient(to right, rgb(194, 185, 185), rgb(128, 128, 180)); 
    height: auto;
    margin-left: -8px;
    margin-right: -8px;
}

#contato h1{
    text-align: center;
    margin-top: 0%;
}

#contato form{
    margin: auto;
    height: auto;
    width: 400px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
}

#contato form div + div{
    margin-top: 20px;
}

#contato label{
    display: inline-block;
    width: 90px;
}

#contato input, textarea{
    font: 15px sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #000;
}

#contato textarea{
    vertical-align: top;
    height: 5em;
}

#contato button{
    margin-left: 7em;
    background-color: blueviolet;
    color: white;
    border: blueviolet;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
}

#contato button:hover{
    border: blueviolet;
    transform: translate(-1px, -1px);
    border-radius: 10px;
    box-sizing: border-box;
    transition: transform, 0.2s;
    box-shadow: 2px 2px 4px black;
}

#rodape{
    background-image: linear-gradient(to right, rgb(194, 185, 185), rgb(128, 128, 180));
    position: absolute;
    left: 0%;
    right: 0%;
}

#rodape img{
    width: 35px;
    border-radius: 50%;
}

#rodape p.p1{
    text-align: left;
    margin-left: 30px;
}

#rodape p.p2{
    text-align: center;
}

#rodape button.b1{
    background-color: transparent;
    float: right;
    margin: 10px;
    margin-top: 35px;
    margin-right: 75px;
    border: 1px transparent;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
}

#rodape button.b2{
    background-color: transparent;
    float: right;
    margin: 10px;
    margin-top: 35px;
    border: 1px transparent;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
}

#rodape button:hover{
    border: transparent;
    transform: translate(-1px, -1px);
    box-sizing: border-box;
}

#botao img{
    width: 35px;
}

#botao button{
    background-color: transparent;
    position: fixed;
    border: transparent;
    border-radius: 50%;
    cursor: pointer;
    bottom: 63px;
    right: 9px;
}

#botao button:hover{
    border: transparent;
    transform: translate(-1px, -1px);
    box-sizing: border-box;
}