#cabecalho{
    background-image: linear-gradient(to right, rgb(194, 185, 185), rgb(128, 128, 180));
    position: fixed;
    z-index: 9999;
    left: 0%;
    right: 0%;
    top: 0;
}

#cabecalho img{
    width: 60px;
    margin: 10px;
    margin-left: 30px;
}

#cabecalho button{
    font-size: medium;
    background-color: blueviolet;
    color: white;
    float: right;
    margin: 10px;
    margin-top: 28px;
    border: 1px blueviolet;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
}

#cabecalho button:hover{
    border: 1px blueviolet;
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 4px black;
    transition: transform, 0.2s;
    box-sizing: border-box;
}

#inicio{
    background-image: url(../imagens/image-home-page.jpg);
    background-position: center;
    position: relative;
    height: 605px;
}

#inicio:hover{
    transform: scale(1.01);
}

#inicio p{
    width: 200px;
    float: right;
    color: white;
    margin-top: 210px;
    margin-right: 100px;
}

#sobre{
    background-image: url(../imagens/image-sobre.jpg);
    background-position: center;
    height: 605px;
}

#sobre:hover{
    transform: scale(1.01);
}

#sobre p{
    width: 200px;
    float: left;
    color: white;
    margin-top: 210px;
    margin-left: 100px;
}

#servicos{
    background-image: url(../imagens/image-servicos.jpg);
    background-position: center;
    height: 605px;
}

#servicos:hover{
    transform: scale(1.01);
}

#servicos p{
    width: 200px;
    float: right;
    color: white;
    margin-top: 210px;
    margin-right: 100px;
}

#contato{
    background-image: linear-gradient(to right, rgb(194, 185, 185), rgb(128, 128, 180)); 
    height: auto;
}

#contato h1{
    text-align: center;
    margin-top: 0%;
}

#contato form{
    margin: auto;
    height: auto;
    width: 400px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
}

#contato form div + div{
    margin-top: 20px;
}

#contato label{
    display: inline-block;
    width: 90px;
}

#contato input, textarea{
    font: 15px sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #000;
}

#contato textarea{
    vertical-align: top;
    height: 5em;
}

#contato button{
    margin-left: 7em;
    background-color: blueviolet;
    color: white;
    border: blueviolet;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
}

#contato button:hover{
    border: blueviolet;
    transform: translate(-1px, -1px);
    border-radius: 10px;
    box-sizing: border-box;
    transition: transform, 0.2s;
    box-shadow: 2px 2px 4px black;
}

#rodape{
    background-image: linear-gradient(to right, rgb(194, 185, 185), rgb(128, 128, 180));
    position: absolute;
    left: 0%;
    right: 0%;
}

#rodape img{
    width: 35px;
    border-radius: 50%;
}

#rodape p.p1{
    text-align: left;
    margin-left: 30px;
}

#rodape p.p2{
    text-align: center;
}

#rodape button{
    background-color: blueviolet;
    float: right;
    margin: 10px;
    margin-top: 35px;
    border: 1px blueviolet;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
}

#rodape button:hover{
    border: 1px blueviolet;
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 4px black;
    transition: transform, 0.2s;
    box-sizing: border-box;
}